{{#extends 'base'}}
{{!-- {{#block 'css'}}
<link rel="stylesheet" href="/style/productTable.css">
{{/block}} --}}
{{#block 'content'}}


<h1>Original Product: {{soap.name}}</h1>

<div class="table-container" style="overflow-x: scroll; background-color:#F5F5DC">
    <table class="table">
        <thead>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Cost</th>
            <th scope="col">Shape</th>
            <th scope="col">Date Created</th>
            <th scope="col">Base</th>
            <th scope="col">Purpose</th>
            <th scope="col">Smell</th>
        </thead>

        <tbody>

            <tr>
                <td>{{soap.name}}</td>
                <td><img src="{{soap.thumbnail_url}}" /></td>
                <td>{{soap.cost}}</td>
                <td>{{soap.shape}}</td>
                <td>{{soap.date_created}}</td>
                <td>{{soap.base.base}}</td>
                <td>
                    {{#each soap.purposes}}
                    <div class="span badge bg-success"> {{this.purpose}}</div>
                    {{/each}}
                </td>
                <td>
                    {{#each soap.smells}}
                    <div class="span badge bg-info">{{this.smell}}</div>
                    {{/each}}
                </td>
            </tr>


        </tbody>
    </table>

</div>


<h1>Variant details</h1>




<div class="table-container" style="overflow-x: scroll; background-color:#ededb7">
    <table class="table">
        <thead>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Stock</th>
            <th scope="col">Last Updated</th>
            <th scope="col">Color</th>
            <th scope="col">Changes</th>
        </thead>

        <tbody>
            {{#each variants}}
            <tr>
                <td>{{this.name}}</td>
                <td><img src="{{this.thumbnail_url}}" /></td>
                <td>{{this.stock}}</td>

                <td>
                    {{#changeDate this.last_updated}}
                    {{/changeDate}}
                </td>

                {{!-- <td>{{date this.last_updated}}</td> --}}
                {{!-- <td>/{{moment this.last_updated format = "ddd, DD MMM YYYY"}}</td> --}}
                
                <td>{{this.color.color}}</td>
                <td>
                    <a href="variants/{{this.id}}/update" class="btn btn-success btn-sm" />Update</a>
                    <a href="variants/{{this.id}}/delete" class="btn btn-danger btn-sm" />Delete</a>

                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>

</div>

<a href="variants/create" class="btn btn-primary mt-2">Add variant to '{{soap.name}}'</a>
{{/block}}

{{/extends}}