{{#extends 'base'}}

{{#block 'content'}}

<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Fill in Detailed Search
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">

                <h5>Filter your search</h5>
                {{!-- <form method="GET">
                    {{{form}}}
                    <input type="submit" class="btn btn-primary mb-3 mt-3" value="Search" />


                </form> --}}

            </div>
        </div>
    </div>

</div>



<h1>Shop Orders</h1>

<div class="table-container" style="overflow-x: scroll; background-color:#F5F5DC">
    <table class="table">
        <thead>
            <th scope="col">Id</th>
            <th scope="col">Buyer Account</th>
            <th scope="col">Buyer Email</th>
            <th scope="col">Delivery address</th>
            <th scope="col">Mode of payment</th>
            <th scope="col">Cost</th>
            <th scope="col">Status of Order</th>
            <th scope="col">Delivery date if applies</th>
            <th scope="col">Url of order</th>


            {{!-- <th scope="col">Reference to payment</th> --}}

            <th scope="col"></th>

        </thead>

        <tbody>
            {{#each allOrders}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.account.first_name}} {{this.account.last_name}}</td>
                <td>{{this.account.email}}</td>
                <td>{{this.shipping_address_1}} {{this.shipping_address_2}} Postal Code:
                    {{this.shipping_postal_code}}</td>
                <td>{{this.payment_type}}</td>
                <td>{{this.total_cost}}</td>
                <td>{{this.order_status.status}}</td>
                <td>{{#changeDateTime this.delivery_date}}
                    {{/changeDateTime}}

                </td>

                {{!-- <td>{{this.receipt_url}}</td> --}}
                <td><a href="{{this.receipt_url}}">Click to view</a></td>


                {{!-- <td>{{this.payment_reference}}</td> --}}

                <td>
                    <a href="orders/update/{{this.id}}" class="btn btn-success btn-sm" />Update</a>

                </td>


            </tr>


            {{/each}}



        </tbody>
    </table>

</div>




{{/block}}


{{/extends}}