{{#extends 'base'}}

{{#block 'content'}}

<h1>Soap Products</h1>
<table class="table">
    <thead>
        <th scope="col">Name</th>
        <th scope="col">Cost</th>
        <th scope="col">Width</th>
        <th scope="col">Height</th>
        <th scope="col">Shape</th>
        <th scope="col">Date Created</th>
        <th scope="col">Last Updated</th>
        <th scope="col">Base</th>
        <th scope="col">Oil</th>
        <th scope="col">Type</th>
        <th scope="col">Purpose</th>
        <th scope="col">Smell</th>
    </thead>

    <tbody>
        {{#each products}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.cost}}</td>
            <td>{{this.width}}</td>
            <td>{{this.height}}</td>
            <td>{{this.shape}}</td>
            <td>{{this.date_created}}</td>
            <td>{{this.last_updated}}</td>
            <td>{{this.base.base}}</td>
            <td>{{this.oil.oil}}</td>
            <td>{{this.type.type}}</td>
            {{#each this.purposes}}
            <td>{{this.purpose}}</td>
            {{/each}}

            {{#each this.smells}}
            <td>{{this.smell}}</td>
            {{/each}}

           
        </tr>


        {{/each}}



    </tbody>
</table>


{{/block}}


{{/extends}}